.loadStyle {
  margin-top: 30%
}


.mdl-textfield label {
  margin-bottom: -1px;
}

.h1-styles, .div-styles, .div1-styles {
  margin: 17px 0;
}

@media (max-width: 960px) {
.floating-action {
  position: fixed;
  margin: auto 25% auto 75%;
}}

@media (max-width: 600px) {
  .floating-action {
    position: fixed;
    bottom: 0;
    margin: 90% 25% 10% 75%;
  }
}

.md-37 {
  font-size: 37px;
  margin: 37px 17px 0 0;
}
